/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/lato-v23-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/lato-v23-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local(''),
		url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/lato-v23-latin-900.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* --------------------------- */

/* NAV */
* {
	font-family: 'Lato';
}
.nav {
	background-color: black;
	display: flex;
	justify-content: space-between;

	padding: 15px;
}
.nav__list {
	display: flex;
	flex-wrap: wrap;
}
.nav__item {
	margin-right: 25px;
}
.nav__link {
	text-transform: uppercase;
	color: white;
}

/* SLIDESHOW */
.slideshow {
	margin-bottom: 80px;
}
.slideshow__container {
	margin-bottom: 0;
}
.slideshow__img {
	width: 100%;
}
.slideshow__text {
	position: relative;
	bottom: 120px;
	margin-bottom: -80px;
	text-align: center;

	color: white;
	line-height: 40px;
}
.slideshow__title {
	font-size: 24px;
	font-weight: 400;
}
.slideshow__desc {
	font-size: 15px;
	font-weight: 700;
}

/* SECTION BAND */
.band {
	max-width: 780px;
	margin: 0 auto;
	text-align: justify;
	margin-bottom: 80px;
}
.section__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: 4px;
	text-transform: uppercase;

	text-align: center;
	margin-bottom: 20px;
}
.section__subtitle {
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 20px;

	text-align: center;
	color: rgb(106, 106, 106);
}
.band__text {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;

	margin-bottom: 80px;
}
.band__photos-container {
	display: flex;
	justify-content: space-around;
}
.band__photo-title {
	text-align: center;

	margin-bottom: 15px;
}
.band__pic {
	width: 60%;
	display: block;
	margin: 0 auto;
	border-radius: 4px;
}

/* TOUR */
.tour__wrapper {
	background-color: black;
}
.tour {
	max-width: 780px;
	margin: 0 auto;
	padding-bottom: 80px;
	margin-bottom: 80px;
}
.tour__title {
	color: white;
	padding-top: 80px;
}
.tour__schedule {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 20px;
}
.schedule__month-name {
	color: #757575;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	line-height: 1.5;
	padding: 8px 16px;
}
.schedule__ticket-status-sold {
	font-size: 15px;
	line-height: 1.5;

	background-color: #f44336;
	color: white;
	padding: 2px 8px;
	text-align: center;

	margin-left: 16px;
}
.schedule__ticket-status {
	font-size: 15px;
	line-height: 1.5;

	background-color: black;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	border-radius: 15px;
	float: right;

	margin-right: 16px;
}
.buy__tickets_container {
	display: flex;	
	justify-content: space-between;
}
.buy__tickets_card {
	max-width: 32%;
	background-color: white;
}
.buy__tickets_info {
	max-width: 80%;
	margin: 0 auto;
}
.buy__tickets_city-pic {
	margin-bottom: 15px;
}
.buy__tickets_city-name {
	font-weight: bolder;
	font-size: 15px;
	line-height: 1.5;

	margin-bottom: 15px;
}
.buy__tickets_city-date {
	opacity: 0.60;
	font-size: 15px;
	line-height: 1.5;

	margin-bottom: 15px;
}
.buy__tickets_city-desc {
	font-size: 15px;
	line-height: 1.5;

	margin-bottom: 15px;
}
.buy__tickets_buy-button {
	color: white;
	background-color: black;
	font-size: 15px;
	line-height: 1.5;

	padding: 5px 10px;
	margin-bottom: 10px;
}

/* CONTACTS */
.contacts {
	max-width: 790px;
	margin: 0 auto;
	padding-bottom: 80px;
}
.contacts__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contacts__info > p {
	font-size: 18px;
	line-height: 1.5;

	background: url(/assets/Arrow_icon.png) left no-repeat;
	padding-left: 45px;
}
.contacts__form-name {
	margin-right: 10px;
	border: 1px solid #ccc;
	font-size: 15px;
	padding: 8px;
	width: 210px;
}
.contacts__form-email {
	font-size: 15px;
	border: 1px solid #ccc;
	padding: 8px;
	margin-bottom: 10px;
}
.contacts__form-message {
	font-size: 15px;
	width: 100%;
	display: block;
	border: 1px solid #ccc;
	padding: 8px;
}
.contacts__form-button {
	float: right;
	color: #fff;
	background-color: #000;
	margin: 16px 0;
	padding: 8px 16px;
	font-size: 18px;
}

/* MAP */
.media {
	padding: 25px 0;
}
.map__pic {
	filter: grayscale(50%);
	width: 100%;
}
.media__list {
	display: flex;
	justify-content: center;
}
.sign {
	text-align: center;
	padding-top: 25px;
}