/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/lato-v23-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/lato-v23-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local(''),
		url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/lato-v23-latin-900.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* --------------------------- */

/* NAV */
.nav {
	background-color: black;
	display: flex;
	justify-content: space-between;

	padding: 15px;
}
.nav__list {
	display: flex;
	flex-wrap: wrap;
}
.nav__item {
	margin-right: 25px;
}
.nav__link {
	font-family: 'Lato';
	text-transform: uppercase;
	color: white;
}

/* SLIDESHOW */
.slideshow {
	margin-bottom: 80px;
}
.slideshow__container {
	margin-bottom: 0;
}
.slideshow__img {
	width: 100%;
}
.slideshow__text {
	position: relative;
	bottom: 120px;
	margin-bottom: -80px;
	text-align: center;

	color: white;
	font-family: 'Lato';
	line-height: 40px;
}
.slideshow__title {
	font-size: 24px;
	font-weight: 400;
}
.slideshow__desc {
	font-size: 15px;
	font-weight: 700;
}

/* SECTION BAND */
.band {
	max-width: 780px;
	margin: 0 auto;
	text-align: justify;
}
.section__title {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: 4px;
	text-transform: uppercase;

	text-align: center;
	margin-bottom: 20px;
}
.section__subtitle {
	font-family: 'Lato';
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 20px;

	text-align: center;
	color: rgb(106, 106, 106);
}
.band__text {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;

	margin-bottom: 80px;
}
.band__photos-container {
	display: flex;
	justify-content: space-around;
}
.band__photo-title {
}
.band__photo-title {
	text-align: center;

	margin-bottom: 15px;
}
.band__pic {
	width: 60%;
	display: block;
	margin: 0 auto;
	border-radius: 4px;
}